.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-dark3);
}

.header a {
  padding: 0.5rem;
}

.homeLink {
  padding: 0.5em;
}